/MyERPSecondDevTools/MyERPSecondDevTools/bin
/MyERPSecondDevTools/MyERPSecondDevTools/obj
/MyERPSecondDevTools/MyERPSecondDevTools/Properties
/MyERPSecondDevTools/MyERPSecondDevTools.Model/bin
/MyERPSecondDevTools/MyERPSecondDevTools.Model/obj
/MyERPSecondDevTools/MyERPSecondDevTools.Model/Properties
