<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--ERP站点登录用户-->
    <add key="erpUserCode" value="admin"/>
    <add key="ToolsDataBase" value="Data Source=WH-PC-LIJQ02\SQL2014;Initial Catalog=LocalDataBase;User ID=sa;Password=95938"/>
  </appSettings>
</configuration>
